<header [class.header_change]="header_var" class="flex">
  <div class="logo">
    <i class="fa-solid fa-bag-shopping"></i>
    <span class="logo-sp">AWU</span>
    <p class="logo-p">shopping</p>
  </div>
  <div class="links">
    <a  class="home"     routerLink="/products"> <i class="fa-solid fa-house-user"></i> Home</a>
    <a  class="cart"    routerLink="/carts">
      <i class="fa-solid fa-cart-shopping"></i>
      Cart</a
    >
    <a  class="sign-in"
                                 routerLink="/auth"
      ><i class="fa-solid fa-person-walking-arrow-right"></i>Sign in
    </a>
    
    
  </div>
</header>
